* {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: rgb(255, 255, 255);
    position: relative;
    margin-left: 2.5%;

}
.video-container {
    position: absolute;
    height: 100%;
    width: 100%;
}
.video-contant {
    z-index: 1;
}
.video-contant a {
    background-color: rgb(85, 8, 148);
    color: white;
    line-height: 4;
    padding: 9px 10px;
    border: 0.5px solid white;
    text-decoration: none;
}
video-contant a:hover {
    text-decoration: underline;
    color: red;
}
#story1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 180px;
    margin-left: 25px;
} 
#story1 h1 {
    color: blue;
} 
#story1 p,h4::first-letter {
    color: orangered;
    font-size: 80px;
} 
#story1 p,h4 {
    font-size: 25px;
} 



#story2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 180px;
    margin-left: 35px;
    margin-bottom: 100px;
} 
#story2 h1 {
    color: blue;
} 
#story2 p,h4::first-letter {
    color: orangered;
    font-size: 80px;
} 
#story2 p,h4 {
    font-size: 25px;
} 
.foot {
    text-align: center;
}
.foot i{
    margin-top: 2%;
    text-align: center;
    font-size: 50px;

}
